# Python dependencies for the backend application
fastapi
sqlalchemy
pydantic
uvicorn
mysql-connector-python
python-dotenv
scikit-learn
torch
joblib
numpy
typing_extensions

# JavaScript dependencies for frontend visualization
npm
recharts